{% extends "blog/templates/master.html" %}
{% load i18n %}

{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <div class="intro-header" style="background-image: url('static/blog/images/about-bg.jpg'); margin-top: -19px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{ about.title }}</h1>
                        <hr class="small">
                        <span class="subheading">{{ about.subtitle }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<p class="lead" style="text-align: justify;">{{ about.text }}</p>
            </div>
        </div>
    </div>
{% endblock %}    

   