
{% if errormessage %}
	<p><strong>{{ errormessage }}</strong></p>

{% else %}
	<strong>Id: </strong>
	<label>{{ post.id }}</label><br />
	
	<strong>Title: </strong>
	<label>{{ post.title }}</label><br />

	<strong>Short description: </strong>
	<label>{{ post.resume }}</label><br />

	<strong>Description: </strong>
	<label>{{ post.text }}</label><br />
	
	<strong>Date: </strong>
	<label>{{ post.date }}</label><br />

	<strong>Image: </strong>
	<img src="{{ post.thumbnail.url }}" tag="{{post.title}}" height="180" width="180">

{% endif %}
<br />
<a href="{% url 'blog:index' %}"> Return to home page</a>