{% extends "blog/templates/blog_template.html" %}

<!-- Page Content -->
{% block content %}
    
    <h1 class="page-header">
        Welcome to LearnDjango.com!
        <small>See our last posts</small>
    </h1>
    {% if post_list %}
    	{% for post in post_list %}
        	<!-- Blog Posts -->
            <h2>
                <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>
            </h2>
            <p class="lead">
                <small><strong>This post was written by:</strong></small>
    			{% for author in post.authors.all %}
    				{% if author.personal_page %}
                        <li><a href="{{ author.personal_page }}">{{ author.name }}</a></li>
                    {% else %}
                        <li><span>{{ author.name }}</span></li>
                    {% endif %}
    			{% endfor %}
            </p>
            <p><span class="glyphicon glyphicon-time"></span> {{ post.date }} </p>
            <hr>
            <center><img class="img-responsive" src="{{ post.thumbnail.url }}" alt=""></center>
            <hr>
            <p style="text-align: justify;"><strong>{{ post.resume }}</strong></p>
            <a class="btn btn-primary" href="{% url 'blog:detail' post.id %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>
    	{% endfor %}
    {% else %}
    	<p>No posts are available.</p>
    {% endif %}

    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>

{% endblock %}
