{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog-home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome to LearnDjango.com{% endblock %}</title>
</head>
<body>
	<!-- Header -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            {% block header %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'blog:index' %}">Learn Django</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:posts' %}">All Posts</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            {% endblock %}    
        </div>
    </nav>
	
	<!-- Body -->
	<div class="container">
		{% block body %} 
		<p>
	        <label>Please override the block "body" as following: <label>
	    </p>    
	    <p>
	        <p>'{'% block body %} </p>
	        <p>Your HTML content here!</p>
	        <p>{% endblock %'}'</p>
	    </p>
		{% endblock %}
	</div>

	<hr>
    
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <center>{% block footer %}Copyright &copy; LearnDjango 2015{% endblock %}</center>
            </div>
        </div>
    </footer>
    
    <script type="text/javascript" src="{% static 'blog/js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js' %}"></script>
</body>
</html>