{% extends "blog/templates/blog_template.html" %}
{% load blog_tags %}
{% load i18n %}

<!-- Blog Post -->
{% block content %}

	<!-- Title -->
	<h1 class="page-header">{{ post.title }}</h1>

	<!-- Author -->
	<p class="lead">
		<strong> {% trans "written by:" %} </strong>
		{% for author in post.authors.all %}
			{% if author.personal_page %}
	            <li><a href="{{ author.personal_page }}">{{ author.name }}</a></li>
	        {% else %}
	            <li><span>{{ author.name }}</span></li>
	        {% endif %}
		{% endfor %}
	</p>
	<hr>

	<!-- Date/Time -->
	<p><span class="glyphicon glyphicon-time"></span> {% trans "Posted on:" %}  {{ post.date }}</p>

	<hr>

	<!-- Preview Image -->
	<center><img class="img-responsive" src="{{ post.thumbnail.url }}" alt=""></center>

	<hr>
	<div id="post-content">
		<!-- Post Content -->
		<p class="lead" style="text-align: justify;">{{ post.text |safe }}</p>

		<hr>

		<!-- Blog Comments -->

		<!-- Comments Form -->
		<div class="well"  id="comment-tab" name="comment-tab">
		    <h4> {% trans "Leave a Comment:" %} </h4>
		    <form action="send_comment/" method="post">
			    <div class="form-group">
			        <textarea id="comment-text" name="comment-text" class="form-control" rows="3" rows="5" class="form-control" placeholder="Comment" required data-validation-required-message="Please enter a comment."></textarea>
			    </div>
			    <div id="comment-success"></div>
		    	<button id="comment-form-btn" name="comment-form-btn" class="btn btn-default"> {% trans "Send:" %} </button>
	    	</form>
		</div>
	</div>
	<hr>
	<!-- Posted Comments -->
	{% show_comments post %}
	<div id="new-comment"></div>
	<hr>

	<a class="btn btn-primary" href="{% url 'blog:index' %}"> {% trans "Return to home page" %} <span class="glyphicon glyphicon-chevron-right"></span></a>
	
	<script type="text/javascript">
		$(document).ready( function() {
			$('#post-content').find('img').addClass('not-3d-img');
		});	
	</script>
{% endblock %}

<hr>


