{% extends "blog/templates/master.html" %}
{% load i18n %}

<!-- Page Content -->
{% block body %}
<div class="container">            
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Easy Django!
                <small> {% trans "Posts about" %} <strong>{{ category.name }}!</strong></small>
            </h1>
        </div>
    </div>

    <!-- Projects Row -->
    <div class="row">
    {% if post_list %}
        {% for post in post_list %}
            <div class="col-md-4 portfolio-item">
                <center >
                    <a href="{% url 'blog:detail' post.url %}">
                        <img class="img-responsive" src="{{ post.thumbnail.url }}" alt="" width="180" height="180">
                    </a>
                    <h3>
                        <a href="{% url 'blog:detail' post.url %}">{{ post.name }}</a>
                    </h3>
                    <strong><p style="text-aligment: justify;">{{ post.resume }}</p></strong>
                </center>
            </div>
        {% endfor %}
    	<hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
               <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        {% if post_list.has_previous %}
                            <a href="?page={{ post_list.previous_page_number }}"> &larr; {% trans "Newer" %} </a>
                        {% endif %}
                    </li>
                    <li class="next">
                        {% if post_list.has_next %}
                            <a href="?page={{ post_list.next_page_number }}"> {% trans "Older" %}  &rarr; </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>    
    {% else %}
        {% trans "No posts found for this category :(" %}
    {% endif %}
    </div>
</div>
{% endblock %}