{% extends "blog/templates/master.html" %}
{% load i18n %}

<!-- Page Content -->
{% block body %}
	{% if invalid_token %}
		<center><strong>{% trans 'This token does not exist or was already used.' %}</strong></center>
	{% else %}	
		<div class="container">
		    <div class="row">
		        <center>
		            <div class="col-md-4 col-md-offset-4">
		                <div class="login-panel panel panel-default">
		                    <div class="panel-heading">
		                        <h3 class="panel-title"> {% trans 'Rescue my password' %} </h3>
		                    </div>
		                    <div class="panel-body" style="height: 300px; overflow-y: hide">
		                        <form name="rescue-password-form" id="rescue-password-form" novalidate>
		                            <fieldset>
		                                <div class="form-group">
		                                	<input type="text" class="form-control" value="{% trans 'Username' %}: {{ token_user.username }}" id="rescue-password-username" name="rescue-password-username" readonly>
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                                <div class="form-group">
		                                    <input type="password" class="form-control" placeholder="{% trans 'Password' %}" id="rescue-password-1" name="rescue-password-1" required data-validation-required-message="{% trans 'Please enter your new password' %}">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                                <div class="form-group">
		                                    <input type="password" class="form-control" placeholder="{% trans 'Again' %}" id="rescue-password-2" name="rescue-password-2" required data-validation-required-message="{% trans 'Please enter your new password again' %}">
		                                    <p class="help-block text-danger"></p>
		                                </div>
		                                <div class="form-group">
		                                    <input type="text" class="form-control" value="{{ token.value }}" id="rescue-password-token" name="rescue-password-token" style="display: none">
		                                    <input type="text" class="form-control" value="{{ token_user.id }}" id="rescue-password-user" name="rescue-password-user" style="display: none">
		                                </div>
		                                    
		                                <!-- Change this to a button or input when using this as a form -->
		                                <button type="submit" class="btn btn-lg btn-primary btn-block"> {% trans "Send" %} </button>
		                            </fieldset>
		                            <br />
		                        </form>
		                        <!--</form>-->
		                        <div id="rescue-password-success"></div>
		                    </div>
		                </div>
		            </div>
		        </center>
		    </div>
		</div>
	{% endif %}
{% endblock %}